// File: BO.module.scss
@use "../../styles/variables.scss" as *;

// Desktop and tablet styles
.BO table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
  
  table-layout: fixed;
  background-color: $white-color;
  color: $text-color;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.BO th,
.BO td {
  padding: .625em;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  color: $text-color;
}

.BO th {
  background-color: $darkred-color;
  color: $white-color;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
}

.BO tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.BO tr:nth-child(even) {
  background-color: #f2f2f2;
}

.BO tr:hover {
  background-color: #ddd;
}

.BO td button {
  margin: 1em;
}

// Mobile styles
@media screen and (max-width: 600px) {
  .BO table {
    border: 0;
  }

  .BO th,
  .BO td {
    display: block;
    text-align: right;
    padding: .625em;
    border-bottom: 1px solid #ddd;
    font-size: .8em;
  }

  .BO thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .BO tr {
    display: block;
    margin-bottom: .625em;
    border: 3px solid #ddd;
  }

  .BO td {
    border-bottom: 1px solid #ddd;
  }

  .BO td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .BO td:last-child {
    border-bottom: 0;
  }
}

// Container
.BackOfficeMain {
  max-width: 75%;
  margin: auto;
  padding: 0 1em;
}
