$orange-color: #fb2105;
$darkorange-color: #68100d;
$darkred-color: #5e0c10;
$white-color: #f5f5f5;
$text-color: #131313;

$gray-color: #999999;
$background-dark: #1a1a1a;
$surface-light: #eaeaea;
$accent-cool: #1e2a38;
$accent-green: #4b6043;
