@use "../../styles/variables.scss" as *;

// Container for list of cards
.card-list {
  position: relative;
  width: 100%; // au lieu de 90%
  max-width: 100%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1em;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

// Mobile: stacked cards under 768px
@media (max-width: 768px) {
  .card-list {
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: visible;
    align-items: center;
  }
}
.cardTemplate {
  position: relative;
  z-index: 0;
  border: 1px solid rgba(0, 0, 0, 0.023);
  border-radius: 10px;
  padding: 1em;
  background-color: $darkred-color;
  color: $white-color;
  width:80%;

  h4 {
    text-align: center;
  }

  .exerciseTitle {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

// Mobile : petit écran
@media (max-width: 599px) {
  .cardTemplate {
    flex: 0 0 90%;
    max-width: 90%;
    width:80%;
    height: auto; // hauteur fluide selon contenu
  }
}

// Tablette
@media (min-width: 600px) and (max-width: 1023px) {
  .cardTemplate {
    flex: 0 0 60%;
    max-width: 60%;
    height: 25vh; // hauteur intermédiaire
  }
}

// Desktop
@media (min-width: 1024px) {
  .cardTemplate {
    flex: 0 0 20vw;
    max-width: 20vw;
    height: 20vh;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }
}


.selected {
  position: fixed; // fixe à l'écran
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 600px;
  min-height: 80vh;

  background-color: $darkred-color;
  z-index: 1000;
  overflow-y: auto;

  padding: 2em;
  border: 2px solid $white-color;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  gap: 1em;

  .exerciseTitle {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }
}
