@use "../../../styles/variables.scss" as *;

.updateDialog {
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  background-color: $white-color;
  color: $text-color;
  font-family: "Jura", sans-serif;

  .MuiDialogTitle-root {
    font-weight: bold;
    font-size: 1.3rem;
    color: $darkred-color;
    padding-bottom: 0.5rem;
    font-family: "Bebas Neue", sans-serif;
  }

  .MuiDialogContent-root {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  .dialogForm {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .MuiTextField-root {
      background-color: lighten($darkred-color, 45%);
      border-radius: 6px;

      input {
        color: $text-color;
        font-family: "Jura", sans-serif;
      }
    }
  }

  .dialogActions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1.5rem;

    button:first-of-type {
      margin-right: 0.5rem;
    }
  }
}
